.venv
venv
*.log
*.ahk
debug/
debug
debug/ocr/
app/__pycache__
data/__pycache__
code/__pycache__
app/pages/__pycache__
auto_login.log
debug/clicked_account_box_attempt1.png
test.py
logs
logs/
.logs

data/accounts.csv
accounts.csv
